TENANT_ID=
CLIENT_ID=
CLIENT_SECRET=

GRAPH_USER_ID=

ONEDRIVE_DRIVE_ID=

SPO_ADMIN_URL=
PS_USER_PRINCIPAL_NAME=
PS_ORG=contoso.onmicrosoft.com
PS_AUTH_MODE=interactive
AZURE_TENANT_ID=
AZURE_SUBSCRIPTION_ID=
MG_SCOPES=User.Read.All,Group.ReadWrite.All